:root {
  --pink: #b25fff23;
  --green: #21ebc6cb;
  --blue: #3f5787;
  font-family: "Courier New", Courier, monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--green);
  color: white;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7em;
}

.main-container {
  padding: 5px;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green);
}

.players_list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.player-container {
  background-color: var(--blue);
  color: var(--green);
  border-radius: 3px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(167, 155, 155, 0.384) 0px 0px 10px 1px;
}

.player-name {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 3px;
}

.master-role {
  color: rgb(255, 242, 61);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 3px;
}

.player-role {
  color: rgb(51, 255, 51);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  border-radius: 3px;
}

.delete-player {
  color: rgba(255, 255, 255, 0.562);
  font-size: 1em;
  font-weight: bolder;
  border-radius: 3px;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
}

.delete-player:hover {
  cursor: pointer;
  color: rgb(255, 30, 30);
}

.delete-all-players {
  width: 120px;
  height: 25px;
  font-weight: bolder;
  color: white;
  background-color: rgba(255, 0, 0, 0.699);
  border-radius: 30px;
  border: none;
}

.delete-all-players:hover {
  cursor: pointer;
  color: red;
  background-color: white;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.online-state-container {
  width: 13%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online-status-online {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 255, 1, 0.75);
}

.online-status-offline {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 24, 24, 0.75);
}
